:root {
    --primary-bg-color: #f4f4f4;
    --primary-text-color: #333;
    --header-color: #fff;
    --button-bg-color: #E9F5FF;
    --button-text-color: #6AA0DB;
    --highlight-color: rgba(74, 74, 74, 1);
    --number-selected-color: #FF0000;
    --whatsapp-button-bg-color: #25D366;
    --whatsapp-button-hover-bg-color: #128C7E;
    --finalizar-button-bg-color: #d2d3f7;
    --finalizar-button-hover-bg-color: #5B92C3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 20px;
}

.container {
    background: url(./img/bg-desktop.png) center center no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 45rem;
    margin: auto;
}

.header {
    color: var(--header-color);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1rem;
}

.custom-button {
    background-color: var(--button-bg-color);
    border-radius: 1rem;
    color: var(--button-text-color);
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.75rem 1rem;
}

.custom-button h2 {
    font-size: 1.2rem;
    line-height: 2rem !important;
}

.image-container {
    width: 100%;
    height: auto;
}

.image-container img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.text-description {
    color: rgb(98, 102, 107) !important;
    font-size: 1rem !important;
}

.premio {
    background: url(https://themes.criarifa.com/solidary/prize-sign.png) center center no-repeat;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.premio span {
    color: var(--primary-text-color);
    font-weight: bold;
    
}



.text-sm {
    font-size: 1.3rem !important;
    line-height: 1.25rem !important;
}

.activate-button {
    background: url(./img/info.png) no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 19.5rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1rem;
    padding: 14px;
    border-radius: 2rem;
    margin: 20px auto;
}

.activate-button p {
    color: var(--highlight-color) !important;
}

.numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number {
    background: url(./img/number.png) center center no-repeat;
    color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.number {
    background: url(./img/number.png) center center no-repeat;
    color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.5rem;
    position: relative;
}

.number.selecionado {
    background: url(./img/selected.png) center center no-repeat;
    color: transparent;
}

.number.selecionado::after {
    content: "X";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--number-selected-color);
    font-size: 2rem;
    font-weight: bold;
}

#paymentOptions {
    margin-top: 20px;
}

#paymentOptions button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#paymentOptions button:hover {
    background-color: #45a049;
}

#nomeInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#comprovante {
    margin-top: 20px;
}

#comprovante h3 {
    margin-bottom: 10px;
}

#whatsappButton {
    background-color: var(--whatsapp-button-bg-color);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#whatsappButton:hover {
    background-color: var(--whatsapp-button-hover-bg-color);
}

.number.indisponivel {
    background: url(./img/unavailable.png) center center no-repeat;
    color: #ccc;
    cursor: not-allowed;
}

#finalizarCompraButton {
    display: block;
    background-color: var(--finalizar-button-bg-color);
    color: var(--highlight-color) !important;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1rem;
}

#finalizarCompraButton:hover {
    background-color: var(--finalizar-button-hover-bg-color);
    color: white;
}



.number.selecionado {
    background-image: url('./img/selected.png');
}

.number.indisponivel {
    background-image: url('./img/unavailable.png');
}


/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    .premio {
        display: none;
    }

    .custom-button {
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
    }

    .image-container img {
        width: 7rem;
        height: 7rem;
    }

    .text-sm {
        font-size: 1rem !important;
    }

    .number {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .activate-button {
        max-width: 10rem;
        height: 1.2rem;
        padding: 10px;
        font-size: 0.8rem;
    }

  

    #paymentOptions button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #whatsappButton {
        padding: 8px 16px;
        font-size: 14px;
    }

    #finalizarCompraButton {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .custom-button {
        font-size: 1.2rem;
        padding: 0.4rem 0.5rem;
    }

    .image-container img {
        width: 5rem;
        height: 5rem;
    }

    .text-sm {
        font-size: 0.9rem !important;
    }
}